@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.inventory-status-card {
  @include card;
  min-height: 0;
  overflow: hidden;
  width: calc(400px * var(--inverse-scale, 1));
  min-width: calc(400px * var(--inverse-scale, 1));
  max-width: calc(400px * var(--inverse-scale, 1));
  // min-height: calc(212px * var(--inverse-scale, 1));
  padding: 9px;

  &__header {
    flex-shrink: 0;
    margin-bottom: 8px;
  }

  &__title {
    @include card-header;
    margin: 0;
  }

  &__info {
    font-size: calc(#{$fs-sm} * var(--inverse-scale, 1));
    color: $color-text-muted;
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(11px * var(--inverse-scale, 1));;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 18px minmax(0, 0.8fr) minmax(0, 2.4fr);
    align-items: center;
    // justify-content: space-between;
    column-gap: 10px;
  }

  &__row-count {
    font-size: calc(13px * var(--inverse-scale, 1));
    color: #42454a;
    font-weight: 300;
    text-align: right;
  }

  &__row-main {
    min-width: 0;
  }

  &__row-name {
    font-size: calc(12px * var(--inverse-scale, 1));
    font-weight: 400;
    @include ellipsis;
  }

  &__bar {
    display: flex;
    height: calc(6px * var(--inverse-scale, 1));
    background: $color-bg;
    border-radius: $radius-pill;
  }

  &__bar-seg {
    height: 100%;
    border-radius: $radius-pill;
    min-width: 8px;
    box-sizing: border-box;

    &--service {
      background: $color-teal;
    }

    &--out {
      background: $color-pink;
    }

    &--decommissioned {
      background: $color-navy-light;
    }
  }

  &__legend {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-top: 6px;
    font-family: $font-family-mono;
    font-size: calc(12px * var(--inverse-scale, 1));
    color: $color-text-secondary;
    flex-wrap: wrap;
    row-gap: 2px;
  }

  &__legend-item {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &--service {
      background: $color-teal;
    }

    &--out {
      background: $color-pink;
    }

    &--decommissioned {
      background: $color-navy-light;
    }
  }
}
