@use '../../styles/variables' as *;

.topbar {
  display: flex;
  align-items: center;
  // height: calc(32px * var(--inverse-scale, 1));
  height: 32px;
  padding: 0 20px 11px 0px;

  &__workspace-pill {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 7px 12px;
    border: 1px solid #7B7B7B3D;
    border-radius: $radius-sm;
    font-size: calc(#{$fs-sm} * var(--inverse-scale, 1));
    font-weight: 400;
    color: $color-text-primary;
  }

  &__workspace-icon {
    width: calc(14px * var(--inverse-scale, 1));
    height: calc(14px * var(--inverse-scale, 1));
    color: #000000;
    flex-shrink: 0;
  }

  &__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__notification {
    position: relative;
    color: $color-text-secondary;
    border: 1px solid#7B7B7B;

    svg {
      width: calc(16px * var(--inverse-scale, 1));
      height: calc(18px * var(--inverse-scale, 1));
      color: black;
    }
  }

  &__notification-dot {
    position: absolute;
    top: 7.1px;
    right: 6.4px;
    width: calc(6px * var(--inverse-scale, 1));
    height: calc(6px * var(--inverse-scale, 1));
    border-radius: 50%;
    background: #FF323C;
  }

  &__date-range {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border: 1.5px solid #7B7B7B;
    border-radius: $radius-sm;
    background: $color-surface;
    font-size: calc(#{$fs-sm} * var(--inverse-scale, 1));
    color: $color-text-primary;
  }

  &__chevron {
    width: calc(10px * var(--inverse-scale, 1));
    height: calc(6px * var(--inverse-scale, 1));
    color: black;
    flex-shrink: 0;
  }

  &__avatars {
    display: flex;
  }

  &__avatar {
    width: calc(30px * var(--inverse-scale, 1));
    height: calc(30px * var(--inverse-scale, 1));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(#{$fs-sm} * var(--inverse-scale, 1));
    font-weight: 600;
    color: #fff;
    border: 2px solid $color-surface;

    &--m {
      background: $color-navy-light;
      z-index: 1;
    }

    &--j {
      background: $color-pink;
      margin-left: -8px;
    }
  }
}
